/* CSS RESET */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* ROOT */

   

   :root{
     
    /* PALETTE */
    --mainbg-grey: #141922;
    --ft-grey:#383838;
    --txt-grey:#959595;

    /* DIMENSION */

    --sidebar-dimension: 50px;
   }
/* GENERAL */

img{
    max-width: 100%;
    display: inline-block;
}

body{
    font-family: 'Montserrat', sans-serif;
}

span{
    color: var(--txt-grey);
    font-size: 13px;
    font-weight: bold;
}

i{
    cursor: pointer;
}

/* UTILITIES */

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}


.flex{
    display: flex;
}

.pos-relative{
    position: relative;
}

.bar{
    border-radius: 20px;
    background-color: var(--txt-grey);
    height: 3px;
    position: relative;
    cursor: pointer;
}

.value{
 position: absolute;
 left: 0;
 top:0;
 height: 100%;
 width: 20%;
 background-color: #fff;
 border-radius: 20px;
}

.marker{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top:50%;
    right:0;
    transform: translate(50%, -50%);
    cursor: pointer;
    display: none;
}

/* TEXT UTILITIES */

.txt-white{
    color:#fff;
}

h2{
    padding: 15px 0;
}

h4{
    padding: 10px 0;
}

h5{
    padding: 10px 0;
}

/* TOP CONTENT */

.top-content{
    height: calc(100vh - 100px);
    overflow: auto;
}

/* MAIN NAVBAR */

    /* NAV GENERAL */
    .main-nav{
        flex-basis: var(--sidebar-dimension);
        flex-shrink: 0;
        background-color: #000;
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: var(--txt-grey);
        height: 100%;
    }

    .main-nav img{
        padding: 5px 0;
        width: 30px;
    }

    .main-nav span{
        display: none;
    }

    /* LOGO */
    .logo img:first-child{
        display: none;
    }

    /* NAV PLAYLIST */
    .nav-playlist{
        display: none;

    }

    .playlist{
        margin: 10px 0;
        overflow: auto;
        height: 250px
    }

    .playlist ul{
      list-style-type: none;
    }

    .playlist li{
        padding: 10px 0;
        font-size: 13px;
        font-weight: bold;
    }

    .nav-playlist i{
        width: 37px;
        height: 37px;
        background-color: #808080;
        color:#000;
        text-align: center;
        line-height: 37px;
        vertical-align: middle;
        font-size: 22px;
    }

    /* ICON NAV FOOTER */
    .main-nav .download-ico img{
        width: 15px;
        margin: 20px auto;
    }

    .main-nav .user-ico img{
        width: 25px;
        height: 25px;
        background-color: #808080;
        border-radius: 50%;
    }





/* MAIN */

main{
    flex-grow: 1;
    color: #fff;
    background-color: var(--mainbg-grey);

}



/* HEADER */

header{
    height: 100px;
    width: 100%;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
    left: 50px;
    justify-content: flex-end;
    align-items: center;
}

header button{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 43px;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
}

/* CONTENT */

.content{
    height: calc(100vh - 100px);
    overflow: auto;
    position: relative;
    
}

  /* CONTENT NAV */

  .content-nav ul{
    list-style-type: none;
    text-align: center;
    padding-bottom: 10px;
  }

  .content-nav li{
    display: inline-block;
    padding: 15px 0;
    padding-right: 10px;
  }

  .content-nav a{
    color: var(--txt-grey);
    font-size: 13px;
    text-decoration: none;
    font-weight: bolder;
  }

  .main-selected{
    width: 30px;
    height: 2px;
    background-color: #ADFF2F;
    margin: 0 auto;
  }

   /* CONTENT MAIN */
   
   .content-main {
    padding: 0 20px;
   }

   .content .col{
    padding: 15px;
    flex-basis: 50%;
    text-align: center;
    }
    
    .content-main figure{
        position: relative;
    }

    .content-play{
       position: absolute;
       top:0;
       left: 0;
       background-color: rgba(0, 0, 0, 0.5);
       width: 100%;
       height: 100%;
       display: none;
    }

    .content-play i{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       font-size: 80px;
    }

    .content .row{
        margin-left: -15px;
    }

    #most-popular img{
        border-radius: 50%;
    }

/* FOOTER */
footer{
    height: 100px;
    width: 100%;
    background-color:var(--ft-grey);
    justify-content: space-between;
    align-items: center;
    color:#fff;
    padding: 10px;
}

/* FOOTER GENERAL */
footer strong{
    font-size: 12px;
    display: block;
}

footer span{
    font-size: 10px;
    line-height: 10px;
}

footer img{
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

footer .col{
 padding: 3px;
}

/* FOOTER LEFT */
.footer-left{
    flex-basis: 160px;
    flex-shrink: 0;
    align-items: center;
    display: none;

}

.footer-left .col:first-child{
    flex-basis: 80%;
}

.footer-left .col:last-child{
    flex-basis: 20%;
    flex-shrink: 0;
    color: var(--txt-grey);
}

.footer-left div:first-child{
    flex-shrink: 0;
}

/* FOOTER CENTER */
.footer-center{
    text-align: center;
    flex-grow: 1;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
}

.footer-center i{
    font-size: 15px;
    margin: 0 5px;
    vertical-align: middle;
}

.controls{
    line-height: 30px;
}

.footer-center .fa-circle-play{
    font-size: 28px;
    margin: 0 20px;

}

.footer-center .progress-bar{
justify-content: space-between;
}


.footer-center .bar{
   align-self: center;
   width: 100px;
   flex-grow: 1;

}

.progress-bar span{
    padding: 0 10px;
}

/* FOOTER RIGHT */
.footer-right{
    text-align: center;
    flex-basis: 160px;
    flex-shrink: 0;
    display: none;
}

.footer-right i{
    padding: 0 5px;
    font-size: 13px;
}

.footer-right .bar{
 flex-grow: 1;
 align-self: center;
}



/* HOOVER EFFECT */

/* HEADER HOOVER EFFECT */
header button:hover{
    font-size: 18px;
    border-radius: 30px;
}

/* MAIN NAV HOVER EFFECT */
.main-nav li:hover, .main-nav span:hover{
    color: #fff;
    cursor: pointer;
}

.main-nav .h-icon:hover img{
    filter: drop-shadow(1px 1px 1px #fff);
}

.nav-playlist .add-playlist:hover i{
    background-color: #fff;
}

.nav-playlist .add-playlist:hover span{
    color: #fff;
}

/* CONTENT HOOVER EFFECT */

.content-nav a:hover{
    color: #fff;
}

.content-main figure:hover .content-play{
    display: inline-block;
}

#most-popular figure:hover .content-play{
    border-radius: 50%;
}

/* FOOTER HOVER EFFECT */

  /* FOOTER-LEFT HOVER EFFECT */

  .footer-left i:hover{
    color: #fff;
  }

  .footer-left span:hover{
    text-decoration: underline;
    color: #fff;
  }
 
  .controls .fa-circle-play:hover{
    font-size: 40px;
  }

  .bar:hover .value{
        background-color: #ADFF2F;
  }
 
  .bar:hover .marker{
    display: inline-block;
}



/* MEDIA QUERY */

/* RESPONSIVE TO 535px */

@media screen and (min-width: 535px){

    .footer-left{
        display: flex;
    }
    .footer-right{
        display: flex;
    }
}
/* RESPONSIVE TO 639px */

@media screen and (min-width: 639px){



    /* HEADER */

    header{
        left: 200px;
    }


    /* MAIN NAV */
     
      :root{
        --sidebar-dimension: 200px;
      }

    .main-nav{
        padding: 20px;
        align-items: flex-start;
    }

    .main-nav span{
        display: inline-block;
        align-self: center;
        padding: 0 10px;
        font-size: 16px;
        font-weight:bold;

    }

    .logo img:first-child{
        display: inline-block;
        width: 140px;
        padding-bottom: 20px;
    }

    .logo img:last-child{
        display: none;
    }

    .selected{
        border-left: 3px solid #ADFF2F;
        height: 40px;
        position: absolute;
        top: 92px;
        left: 0;
    }

    .download-ico span{
        font-size: 15px;
    }

    .main-nav .download-ico img{
        margin: 5px 0;
    }

    .download-ico{
        border-bottom: 1px solid var(--txt-grey);
    }

    .user-ico{
        margin-top: 10px;
    }

    .nav-footer{
        width: 100%;
    }

    .nav-playlist{
        display: inline-block;
        padding-top: 15px;
    }


}



/* RESPONSIVE TO 878px */
@media screen and (min-width: 878px){

 /* CONTENT MAIN */

 .content .col{
    flex-basis: 25%;
    }

    /* FOOTER */
    

    .footer-left .col:last-child{
         display: flex;
    }

    .footer-left i{
        padding: 0 5px;
    }


    .footer-center{
        padding: 0 80px;
    }
}


@media screen and (min-width: 986px){
    .footer-center{
        padding: 0 100px;
    }
}

/* RESPONSIVE TO 1440px */

@media screen and (min-width: 1440px){

    /* CONTENT MAIN */

    .content .col{
       flex-basis: calc(100% / 6);
       }

       .footer-center{
        padding: 0 250px;
    }

   }